.presentation {
    width: 80%;
}

.presentation_content{
    font-size: 20px;
    line-height: 1.6;
    font-weight: lighter;
    margin: 0px 80px;
    color: dimgray;
}
/*  

.presentation h2 {
    display: flex;
    font-size: 2em;
    justify-content: center;
    padding: 2% 0 0;
    position: relative;
}
*/