.filter_button{
    background: #ffffff;
    display: inline-block;
    font: 400 13px/1.2 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 8px 20px;
    margin: 5px;
    color: #5b5963;
    cursor: pointer;
}
.filter_button:hover{
    background: rgba(0, 0, 0, 0.79);
    color: #fff;
}
.filter_button .active{
    background: rgba(0, 0, 0, 0.79);
    color: #fff;
}